html, body {
  color: rgba(64, 64, 64, 0.65);
  font: 500 1em Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

*:focus {
  outline: none !important;
}

* {
  box-sizing: border-box;
}

.detector {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}

.viewport {
  border: thin dashed #c2c2c2;
  border-radius: 5px;
  background: #fcfcfc;
  width: 640px;
  height: 640px;
}

.detector-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.message-box {
  padding: 8px;
  color: lightgray;
  text-align: center;
  text-shadow: 1px 1px 2px #808080;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100%;
}

#offscreen-video {
  position: absolute;
  top: 100%;
  left: 100%;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .viewport {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
  }
}
